APScheduler==3.10.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==7.1.2
Flask==1.1.4
Flask-Cors==3.0.10
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
pycryptodome==3.18.0
pytz==2023.3
requests==2.31.0
six==1.16.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3
Werkzeug==1.0.1
